@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}
body {
  background: #f6f8f8 !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  color: rgb(71, 5, 38);
  margin: auto;
  
  text-decoration-color: brown;
 }


.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  float: rigth;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #f7f3f32a;
  box-shadow: 0px 14px 80px rgba(25, 0, 253, 0.089);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
 
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #f8f4f4;
  margin: 0;
}

.forgot-password a {
  color: #f3f0f0;
}
.navbar-light a {
  color: #741414;
 
}